In [19]:
Name=input("enter the name:")
age=int(input("enter the age: "))


if age>=18:
        print(Name)
        print("you are elegible")
else:
    print(Name)
    print("you are not elegible")

enter the name: Monashree
enter the age:  19

Monashree
you are elegible

In [20]:
num1=10
num2=20

if num2>num1:
    print("num2 is greater than num1")
else:
    print("num1 is greater")

num2 is greater than num1

In [23]:
a=int(input())
b=int(input())
c=int(input())

if a>b:
     if a>c:
         print("a is largest")
     else:
         print("c is largest")
else:
    if b>c:
        print("b is largest")
    else:
        print("c is largest")

 4
 3
 2

a is largest

In [25]:
a=int(input())
b=int(input())
c=int(input())

if a<b:
     if a<c:
         print("a is smallest")
     else:
         print("c is smallest")
else:
    if b<c:
        print("b is smallest")
    else:
        print("c is smallest")

 3
 2
 1

c is smallest

In [29]:
marks=int(input("enter the marks"))
if marks>=90 and marks<=100:
    print("grade =A+")
else:
    if marks>=80 and marks<90:
       print("grade =A")
    else:
        if marks>=70 and marks<80:
           print("grade =B+")
        else:
            if marks>=60 and marks<70:
               print("grade =B")
            else:
                if marks>=50 and marks<60:
                   print("grade =C")
                else:
                    if marks>=40 and marks<50:
                        print("grade =D")
                    else:
                        if marks>=30 and marks<40:
                              print("grade =E")
                        else:
                            if marks>=0 and marks<30:
                                    print("grade =F")
                            else:
                                print("invalid marks")

enter the marks 99

grade =A+

In [29]:
marks=int(input("enter the marks"))
if marks>=90 and marks<=100:
    print("grade =A+")
else:
    if marks>=80 and marks<90:
       print("grade =A")
    else:
        if marks>=70 and marks<80:
           print("grade =B+")
        else:
            if marks>=60 and marks<70:
               print("grade =B")
            else:
                if marks>=50 and marks<60:
                   print("grade =C")
                else:
                    if marks>=40 and marks<50:
                        print("grade =D")
                    else:
                        if marks>=30 and marks<40:
                              print("grade =E")
                        else:
                            if marks>=0 and marks<30:
                                    print("grade =F")
                            else:
                                print("invalid marks")

enter the marks 99

grade =A+

In [33]:
marks=int(input("enter the marks"))
match marks:
           case 1 :if marks>=90 and marks<=100:
                      print("grade =A+")
           case 2 :if marks>=80 and marks<90:
                      print("grade =A")
           case 3 :if marks>=70 and marks<80:
                      print("grade =B+")
           case 4: if marks>=60 and marks<70:
                      print("grade =B")
           case 5: if marks>=50 and marks<60:
                      print("grade =C")
           case 6: if marks>=40 and marks<50:
                      print("grade =D")
           case 7: if marks>=30 and marks<40:
                      print("grade =E")
           case 8: if marks>=0 and marks<30:
                      print("grade =F")
           case_: print("invalid marks")

SyntaxError: invalid syntax (2991982324.py, line 3)

In [39]:
Days=int(input("enter the  no"))
match Days:
            case 1:print("Sunday")
            case 2:print("Monday")
            case 3:print("Tuesday")
            case 4:print("Wednesday")
            case 5:print("Thursday")                                
            case 6:print("friday")
            case 7:print("Saturday")
            case _:default("invalid no")

enter the  no 2

Monday

In [34]:
x=0
while x<10:
    print(x)
    x=x+1


for y in range(0,10):
    print(y)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

In [40]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [43]:
for x in range(1,10):
    
    print(x)

1
2
3
4
5
6
7
8
9

In [47]:
for y in range(0,10):
    for x in range(0,y+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [51]:
n=int(input("enter the value of n: "))
if n==0:
  print(n)
else:
   print("invalid choice")

enter the value of n:  0

0

In [52]:
a=0
b=1
n=int(input("enter the length: "))
print(a,b,end=" ")

for x in range(0,n-2):
    c=a+b
    print(c,end=" ")
    a=b
    b=c

enter the length:  10

0 1 1 2 3 5 8 13 21 34

In [53]:
a=0
b=1
n=int(input("enter the length: "))
print(a,b)

for x in range(0,n-2):
    c=a+b
    print(c)
    a=b
    b=c

enter the length:  10

0 1
1
2
3
5
8
13
21
34